@model PagedList.IPagedList<Model.EF.DonHang>
@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var listD = (List<Model.ViewModal.ViewModelProduct>)ViewBag.showDetail;
}
@section header{
	Danh sách đơn hàng
	}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				@*Tổng:	@Model.Count*@
			</div>
			<div class="panel-body">
				@using (Html.BeginForm("Index", "DHang", FormMethod.Get))
				{
					<div class="row">
						<div class="col-lg-12" style="padding-bottom:20px;padding-top:10px;display:flex">
							<div class="col-md-3" style="float:left;">
								<input style="width: 245px;" type="text" name="searchString" value="@ViewBag.SearchString" />
							</div>
							<div class="col-md-3">
								<button type="submit">Tìm kiếm</button>

							</div>

						</div>
					</div>
				}
				<div class="col-md-3">
					<a href="/Admin/SP/Create">Thêm mới</a>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Tùy chọn</th>
								<th>Tên KH</th>
								<th>Địa chỉ</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Tổng tiền</th>
								<th>Ngày Đặt</th>
								<th>Trạng thái</th>
								<th>Chi tiết</th>
							</tr>
						</thead>
						<tbody>


							@foreach (var item in Model)
							{
								var url = "/chi-tiet-don-hang/" + item.OrderID;
								<tr id="row_@item.CustomerID">
									<td>
										<a href="/Admin/SP/Edit/@item.CustomerID">Xác thực</a>
										|
										@Ajax.ActionLink("Xóa", "Delete", new { @id = item.CustomerID }, new AjaxOptions
								   {
									   Confirm = "Bạn có muốn xóa bản ghi này?",
									   OnComplete = "$('#row_" + @item.CustomerID + "').remove()",
									   HttpMethod = "Delete"
								   })
									</td>
									<td>@item.tenKH</td>
									<td>@item.DiaChi</td>
									<td>@item.Sdt</td>
									<td>@item.Email</td>
									<td>@item.TotalMoney</td>
									<td>@item.NgayGuiDon</td>
									<td>@item.Status</td>
									<td>
										@*<a href="@url">View Detail</a>*@
										<div class="container">

											<button type="button" id="myBtn-@item.OrderID">Chi Tiết</button>

											<!-- Modal -->
											<div class="modal fade" id="myModal-@item.OrderID" role="dialog">
												<div class="modal-dialog">

													<!-- Modal content-->
													<div class="modal-content">
														<div class="modal-header">
															@*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
															<h4 class="modal-title">Chi tiết Đơn hàng</h4>
														</div>
														<div style="width:500px;height:406px;" class="modal-body">
															<table class="table table-striped">
																<thead>
																	<tr>

																		<th scope="col">Tên</th>
																		<th scope="col">Ảnh </th>
																		<th scope="col">Số Lượng</th>
																		<th scope="col">Giá</th>
																		

																	</tr>
																	
																</thead>
																<tbody>
																	
																		@foreach (var i in listD)
																		{

																			if (i.ordetail.OrderID == item.OrderID)
																			{
																				var thanhtien= i.ordetail.Price * i.ordetail.Quantity;
																				
																			<tr>
																				<td>@i.sp.Name</td>
																				<td><img src="@i.sp.Image" style="width:50px"/></td>
																				<td>@i.ordetail.Quantity</td>
																				<td>@thanhtien.GetValueOrDefault(0).ToString("N0")</td>
																			
																			</tr>
}

																	}


																</tbody>
															</table>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														</div>
													</div>

												</div>
											</div>

										</div>

										<script>
												$(document).ready(function(){
														$("#myBtn-@item.OrderID").click(function(){
														$("#myModal-@item.OrderID").modal();
														 });
											});
										</script>
										
									</td>

								</tr>
							}


						</tbody>
					</table>
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
				</div>
			</div>
		</div>
	</div>
</div>

